*
{
  font-family: Verdana;
}

body
{
  margin: 0;
  background-color: #cccccc;
}

a
{
  text-decoration: none;
  color: #0760B2;
}

  a:hover
  {
    text-decoration: underline;
  }

h1
{
  font-size: 20px;
}

h2
{
  font-size: 14px;
  color: #7773A1;
  margin-top: 10px;
}

h3
{
  font-size: 12px;
  color: #7773A1;
  margin-top: 10px;
}

#PageWrapper
{
  width: 844px;
  background-color: #5487c0;
  margin: auto;
}

header
{
  background-image: url(Images/Header.jpg);
  width: 844px;
  height: 86px;
}

  header a
  {
    width: 844px;
    height: 86px;
    display: block;
  }

nav
{
  background-image: url(Images/MenuBackground.jpg);
  width: 827px;
  height: 36px;
  padding-top: 7px;
  padding-left: 17px;
}

  nav a
  {
    color: #fff;
  }

.MainMenu
{
  border: 1px solid #999999;
  width: 814px;
  height: 19px;
  background-color: #555555;
}

  .MainMenu ul li
  {
    width: 200px;
  }

section#MainContent
{
  font-size: 0.8em;
  width: 659px;
  border-left: 1px solid white;
  border-right: 2px solid white;
  float: right;
  background-color: #e1e1e1;
  min-height: 500px;
  padding: 10px;
}

aside#Sidebar
{
  font-size: 0.8em;
  color: White;
  background-image: url(Images/Sidebar.jpg);
  background-repeat: no-repeat;
  background-color: #7773A1;
  width: 142px;
  min-height: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  float: left;
}

footer
{
  width: 844px;
  clear: both;
  height: 37px;
  background-color: #A8D5FE;
  color: White;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 37px;
}

.Introduction
{
  font-style: italic;
  color: #3e3e3e;
}

.MyButton
{
  color: White;
}


/* Control del Formulario */
.textbox {
	background: white;
    border: solid 1px #646464; 
    font-weight: bold;
    outline: none; 
    padding: 1px 1px;
    font-family: Verdana;
    font-size: 9px;
} 

.textbox:hover { 
    background-color: #fefcad;
}

.textbox:focus { 
    border: solid 1px #FFA500;
    background-color: #D7EFFF; 
} 
.Labels {
    font-family: Verdana;
    font-weight: bold;
    font-size: 9px;
    color: #224386;
}

.LabelsError {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 10px; 
    color: red;
}

.read_only {
	background-color: #cccccc;
    border: thin;
    font-weight: bold;
    outline: none; 
    padding: 1px 1px;
    font-family: Verdana;
    font-size: 9px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    text-indent: 0.01px;
/*    scrollbar-face-color: #cccccc;
    scrollbar-arrow-color: #cccccc;*/
} 

/* ------- */

